<div class="baclcolour">
    <div class="container">
    <div class="apply_box">
      <h2 class="headtext">
        Track Your Pass
     </h2>
      <br>
      <br>
      <form action="">
        
        <div class="form_control">
            <label for="Mobile Number">Enter Number </label>
            <input
              type="text"
              id="enum"
              name="passNumber"
              placeholder="enter Your Registered  number"
            />
          </div>
           <br>
           <div class="btncls">
            <button type="submit">Search</button>
          </div>
        
      </form>
    </div>
  </div>
 </div>
