<div class="baclcolour">
    <div class="container">
    <div class="apply_box">
      <h2>
      Apply For Pass

      </h2>
      <br>
      <br>
      <form #usersForm = "ngForm" (ngSubmit)="generaTicket(usersForm.value)">
        
        <div class="form-group">
            <label for="Ticket number"> Ticket No </label>
            <input type="text" class="form-control"
            type="text" ngModel
            id="ticketno"
            name="tnumid"
            >
        </div>
        <br>
       
          <div class="form-group">
            <label for="date">Request Date </label>
            <input value="" class="form-control"  ngModel
              type="date" id="date" name="date" />
              
          </div>
          <br>
           <div class="form-group"> 
            <label for="Time">Request Time </label>
            <input class="form-control"
            type="time" ngModel
              id="timel"
              name="timel"
              
            />
          </div>
             
          <br>
          <div class="form-group">
            <label for="Requested by" >Requested BY</label>
            <input class="form-control"
              type="text" ngModel
              id="reqby"
              name="reqby"
             
            />
          </div>

          <br>
          <div class="form-group">
            <label for="Contact Number" >Contact Number</label>
            <input class="form-control"
              type="text" ngModel
              id="Num"
              name="Number"
             
            />
          </div>

             <br>
             <div class="form-group">
                <label for="RDepartment"> Requested Department</label>
                <select id="RDepartment" name="RDepartment"  class="form-control" ngModel>
                  <option  >Select Department list </option>
                  <option *ngFor="let departmentlist of deplist" >
                    {{departmentlist.dept_name_eng}}</option>
                </select>
              </div>
              <br>
              <div class="form-group">
                <label for="roomno">Room No.</label>
                <input class="form-control"
                  type="text"  ngModel
                  id="roomnu"
                  name="RoomNo"
                 
                />
              </div>
              <br>
              <div class="form-group">
                <label for="Reason"> Reason</label>
                <input class="form-control"
                  type="text" ngModel
                  id="Reason"
                  name="Reason"
                 
                />
              </div>
              <br> 
              <div class="form-group">
                <label for="idebtity type">Identity Type</label>
                <input class="form-control"
                  type="text" ngModel
                  id="Identitytype"
                  name="identitytype"
                 
                />
              </div>
              <br>
              <div class="form-group">
                <label for="scanon">Scanned On</label>
                <input class="form-control"
                  type="text" ngModel
                  id="scanon"
                  name="scanon"
                 
                />
              </div>
              <br>
              <div class="form-group">
                <label for="scanby">Scanned By</label>
                <input class="form-control"
                  type="text" ngModel
                  id="scanby"
                  name="scanby"
                 
                />
              </div>
              <br>
              <div class="form-group">
                <label for="pass type"> Pass Type </label>
                <select id="passtype" name="passtype" ngModel  class="form-control">
                <option value="">Select Pass Type</option>
                  <option value="G" selected ="">Government</option>
                  <option value="P">Public</option>
                  <option value="O">Other</option>
                </select>
              </div>
               <br>
              <br>
              <div class="button_container">
                <button type="submit">Submit</button>
              </div>

              <!-- <button type="submit" class="btn btn-primary">Submit</button>   -->
      </form>
    </div>
    </div>
</div>
