<div class="container">
  <div class="apply_box">
    <h2>
      Apply for pass

    </h2>
    <br>
    <form action="">
      <br>
      <div class="form_control">
        <label>User Type: </label>
        <input name="type" [(ngModel)]="type" type="radio" [value]="0"/> Public
        <input name="type" [(ngModel)]="type" type="radio" [value]="1" /> Departmental
      </div>
      <br>
      <br>
      <div class="form_control">
        <label for="Mobile Number">Full Name: </label>
        <input
          type="text"
          id="Name"
          name="Full Name"
          placeholder="enter your full name"
        />
      </div>
      <br>
        <div class="form_control">
          <label for="Gender"> Gender </label>
          <select id="Gender" name="Gender">
          <option value="">Select Gender</option>
            <option value="Female">Female</option>
            <option value="Male">Male</option>
            <option value="Transgender">Transgender</option>
          </select>
        </div>
        <br>
        <div class="form_control">
          <label for="Mobile Number">Mobile Number </label>
          <input
            type="number"
            id="Num"
            name="Number"
            placeholder="enter number"
          />
        </div>
        <br>
        <div class="form_control">
          <label for="date"> Date of Birth</label>
          <input value="2022-01-10" type="date" id="date" name="dob" />
        </div>
        <br>
        <div *ngIf="type === 1" class="form_control">
          <label for="Department"> Department</label>
          <select id="Department" name="Department">
            <option value="">Select Department</option>
            <option value="Cs&it">Cs&it</option>
          </select>
        </div>
        <br>
        <div class="form_control">
          <label for="District"> District </label>
          <select [(ngModel)]="district_id" id="District" name="District" (change)="enableNikay()">
            <option selected disabled>Select District</option>
            <option  *ngFor="let district of distdata" value={{district.district_id}}>
              {{district.district_name}}</option>
          </select>


            </div>
            <br>
        <!-- <div class="form_control">
          <label for="pincode"> Pincode </label>
          <input
            type="text"
            id="pincode"
            name="pincode"
            placeholder="Enter Pincode"
          />
        </div> -->



       <br>
        <div>
          <label>Nikay: </label>
          <input class="radio-style" (click)="getUrbanList()" #enableUrban type="radio" name="Subject"  value="Subject1" disabled><span> Urban</span>
          <input class="radio-style" (click)="getBlockList()"  #enableRural type="radio" name="Subject"  value="Subject2" disabled><span> Rural</span>
        </div>
        <br>
        <br>

        <div class="form_control" *ngIf="showNagar">
          <label for="District" > Nagar List </label>
          <select id="nagar" name="nagar" [(ngModel)]="nagar_id" name="nagar_id" (change)="getWardList()">
            <option selected disabled>Select Nagar</option>
            <option *ngFor="let nagar of nagardata" [ngValue]="nagar.block_id" >
              {{nagar.block_name}}</option>
          </select>
        </div>

        <div class="form_control" *ngIf="showNagar && showWard">
          <label for="Ward"> Ward List </label>
          <select  id="Ward" name="Ward" >
            <option selected disabled>Select Ward</option>
            <option  *ngFor="let ward of wardData" value={{ward.Ward_No}}>
              {{ward.Ward_Name}}</option>
          </select>
        </div>

        <div class="form_control" *ngIf="showBlock">
          <label for="District" > Block List </label>
          <select id="nagar" name="nagar" [(ngModel)]="block_id" name="block_id" (change)="getGPList()">
            <option selected disabled>Select Block</option>
            <option *ngFor="let block of blockdata"  [ngValue]="block.block_id">
              {{block.block_name}}</option>
          </select>
        </div>

        <div class="form_control" *ngIf="showBlock && showGP" (click)="getVillageList()">
          <label for="District" > Gram Panchayat List </label>
          <select id="gp" [(ngModel)]="gp_id" name="gp_id">
            <option selected disabled>Select Gram Panchayat</option>
            <option *ngFor="let gp of GPData" [ngValue]="gp.panchayat_code">
              {{gp.panchayat_name_hindi}}</option>
          </select>
        </div>

        <div class="form_control" *ngIf="showBlock && showGP && showVillages" >
          <label for="District" > Village List </label>
          <select id="block" name="village_id" [(ngModel)] = "village_id"  >
            <option selected disabled>Select Village</option>
            <option *ngFor="let village of villageData" [ngValue]="village.vlocation" >
              {{village.village_name}}</option>
          </select>
        </div>
      <div class="form-group">
        <label for="eaddress">Address</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="button_container">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
