<section class="header">
    <div class="header-img">
      <img src="assets/cglogo.png">
  </div>
    <h4 class="aboutus">छत्तीसगढ़ सरकार | Government of Chhattisgarh</h4>
    <p class="aboutus_para">Mantralay Pass</p>
    <div class="icons">
        <i class="fa fa-linkedin-square"></i>
        <i class="fa fa-facebook-square"></i>
    </div>
  </section>
<div class="banner">
    <div class="content">
        <h1 class="mb-5">e-Pass Registration for Mantralay</h1>
        <a routerLink="">Apply now <i class="bi bi-arrow-right"></i></a>
    </div>
</div>

