<div class="backimg">
    <div class="container">
    <div class="apply_box">
        <h2>
          VISITOR GATE PASS
       </h2>
        <br>
    <form>
      <br>
      <div class="form_control">
        <label for="ticketno">Ticket No </label>
        <input
          type="text" 
          id="ticketno"
          name="tnumid"
      />
      </div>
      <br>
      <div class="form_control" >
        <label for="date">Visit Date </label>
        <input 
          type="date" id="date" name="date" />
          
      </div>
      <br>
       <div class="form_control" > 
        <label for="Time">Visit Time </label>
        <input 
        type="time" 
          id="timel"
          name="timel"
          
        />
      </div>
         <br>
         <div class="form_control">
            <label for="passtype">Pass Type </label>
            <input    
              type="text" id="passtypetext" name="passtype" />
              
          </div>
          <br>
          <div class="textshow" >
             <label>USER DETAILS</label>
          </div>
          <br>
          <div class="form_control">
            <label for="first name"> User Name</label>
            <input 
              type="text" 
              id="Fname"
              name="fnam"
               />
          </div>
          <br>
          <div class="form_control">
            <label for="Mobile Number">Mobile Number </label>
            <input
              type="text" 
              id="Num"
              name="Number"
              
            />
          </div>
          <br>
          <div class="form_control" >
            <label for="publicaddress"  > Address</label>
        <textarea   name="pubaddress">

        </textarea>
          </div>
          <br>
          <div class="form_control">
            <label for="dept to meet">Department To Meet </label>
            <input
              type="text" 
              id="Num"
              name="Number"
              
            />
          </div>
          <br>
          <div class="form_control">
            <label for="Reason">Purpose To Meet</label>
            <input
              type="text" 
              id="Reason"
              name="Reason"
             
            />
          </div>
          <br>
          <div class="textshow">
            <label> NOTE: This Pass is Valid Only Through Date Mensioned Above </label>
          </div>
          <br>
          <div class="button_container">
            <button type="submit">Print</button>
         </div>
    </form> 
    </div>
    </div>
</div>   
